/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Tamaño de fuente base */
html {
    font-size: 12px; /* Base: 1rem = 16px */
}

/* Tamaño de fuente para el cuerpo */
body {
    font-size: 12px; /* Tamaño de fuente: 16px */
    color: #333; /* Color de texto por defecto */
}

/* Tamaño de fuente para encabezados */
h1 {
    font-size: 32px; /* Tamaño de fuente: 32px */
}

h2 {
    font-size: 28px; /* Tamaño de fuente: 28px */
}

h3 {
    font-size: 24px; /* Tamaño de fuente: 24px */
}

h4 {
    font-size: 20px; /* Tamaño de fuente: 20px */
}

h5 {
    font-size: 18px; /* Tamaño de fuente: 18px */
}

h6 {
    font-size: 16px; /* Tamaño de fuente: 16px */
}

/* Tamaño de fuente para párrafos y textos generales */
p {
    font-size: 12px; /* Tamaño de fuente: 16px */
}

a {
    font-size: 12px; /* Tamaño de fuente: 16px */
    text-decoration: none; /* Sin subrayado */
}

/* Tamaño de fuente para elementos de lista */
ul, ol {
    font-size: 12px; /* Tamaño de fuente: 16px */
}

/* Tamaño de fuente para botones */
button {
    font-size: 12px; /* Tamaño de fuente: 16px */
}

/* Tamaño de fuente para elementos específicos */
small {
    font-size: 12px; /* Tamaño de fuente: 14px */
}

.caption {
    font-size: 12px; /* Tamaño de fuente: 12px */
}
