/* Estilos para el header */
.header-container {
    background-color: #255B74;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: #FFFFFF;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Tamaño ajustado */
    height: 60px; /* Tamaño ajustado */
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-right: 25px; /* Espacio para separar del resto de los elementos */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Perfil de usuario */
.profile-info {
    display: flex;
    align-items: center;
    margin-left: 1rem;
        cursor: pointer;

}

.foto-perfil {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.foto-perfil::after {
    content: "\f078"; /* Código del ícono "chevron-down" de Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 8px;
    color: #ffffff;
    background-color: #255b74;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}


/* Estilos para el formulario de búsqueda */
.formulario-busqueda {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Limita el ancho del formulario */
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 4px 4px;
    margin: 0 1rem; /* Añade margen horizontal para separarlo de los íconos */
}

.input-busqueda {
    flex: 1;
    border: none; /* Elimina el borde */
    font-size: 1rem;
    padding: 3px 10px; /* Espaciado interno */
    border-radius: 10px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Transición suave */
    outline: none; /* Elimina el borde de enfoque por defecto */
}

.formulario-busqueda button {
    position: absolute;
    right: 2px; /* Espacio a la derecha */
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #888; /* Color del icono de búsqueda */
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
}

.formulario-busqueda button:hover {
    color: #ff0000; /* Cambia el color del icono al pasar el cursor */
}

.input-busqueda::placeholder {
    color: #999; /* Color del texto del placeholder */
}

/* Estilos del botón */
button.btn {
    color: #999;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    color: #255b74;
}

/* Estilos para los íconos */
.contenedor-icono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Tamaño del círculo */
    height: 40px; /* Tamaño del círculo */
    border-radius: 50%; /* Hace el contenedor redondeado */
    background-color: #fff; /* Color de fondo del círculo */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Sombra ligera para un efecto de elevación */
    margin-right: 0.1px; /* Espacio entre íconos y otros elementos */
    padding: 0; /* Sin padding */
}

/* Estilo de todos los íconos dentro de contenedor-icono */
.contenedor-icono i {
    font-size: 1.2rem; /* Tamaño del ícono */
    color: #255B74;
    transition: color 0.3s ease;
    margin: 0;
    padding: 0;
    line-height: 1; /* Asegura que el alto de línea no interfiera con el centrado */
    vertical-align: middle; /* Alineación vertical del ícono */
}
/* Estilo para el ícono de búsqueda en pantallas pequeñas */
.contenedor-icono.d-block.d-md-none {
    cursor: pointer;
    margin-right: 0.1px; /* Asegura el mismo espaciado en pantallas pequeñas */
}

/* Estilo del ícono de búsqueda */
.search-icon {
    font-size: 1.2rem; /* Tamaño del ícono */


}

/* Cambio de color al pasar el ratón */
.contenedor-icono:hover i {
    color: #257470; /* Color del ícono al pasar el ratón */
}

/* Estilo para search en pantallas pequeñas */
.despliegue-search-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%; /* el fondo ocupa todo el ancho de pantalla */
    height: 15vh; /* el fondo ocupa el 15%  del alto de pantalla */
    background-color: rgba(26, 65, 82, 0.95); /* Fondo semi-transparente oscuro */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: right 0.5s ease; /* Animación suave para despliegue */
    z-index: 1000; /* Para asegurarse que quede encima del contenido */
}

/* Cuando el lightbox está activo */
.despliegue-search-lateral.active {
    right: 0;
}

/* Estilos para la caja de búsqueda */
.search-box {
    position: relative;
    width: 90%;
    max-width: 500px;
    display: flex;
    align-items: center;
    background-color: #fff; /* Fondo blanco */
    border-radius: 50px;
    padding: 10px 20px;
}

/* Estilo para el input de búsqueda */
.search-box input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #1A4152;
    padding: 2px;
    border-radius: 50px;
    background-color: transparent;
    padding-left: 10px;
    animation: fadeInUp 0.4s ease;
}

/* Placeholder estilizado */
.search-box input::placeholder {
    color: #9aaab2;
    opacity: 1;
}

/* Estilo para el ícono de cerrar */
.close-lightbox {
    display: none;
    
}

/* Muestra el ícono de cerrar cuando el lightbox esté activo */
.despliegue-search-lateral.active .close-lightbox {
    display: block;
}

/* Animación de aparición para el input */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .despliegue-search-lateral .search-box {
        width: 95%;
    }

    
}

/* Estilo general para el contenedor del perfil */
.formulario-perfil {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    position: fixed;
    top: 80px; /* Ajuste para que esté debajo del header */
    right: 10px;
    background-color: #FFFFFF;
    padding: 15px; /* Espacio interno del contenedor */
    border-radius: 12px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    z-index: 1000;
    width: 320px; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */

.texto-capitalizado {
    text-transform: capitalize; 
}

/* Estilo para las secciones del perfil */
.perfil-info {
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden; /* Para evitar desbordamientos */
}

/* Estilo del botón de alternar */
.toggle-checkbox {
    display: none;
}

/* Estilo del botón de alternar */
.toggle-button {
    background: #FFFFFF;
    color: #000000; /* Texto en negro */
    padding: 12px 16px; /* Espacio alrededor del texto */
    display: flex;
    align-items: center; /* Alinear íconos y texto verticalmente */
    justify-content: flex-start; /* Alinear el texto al inicio */
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    position: relative; /* Posiciona el ícono de flecha */
    padding-left: 13px; /* Espacio a la izquierda del texto */
    padding-right: 25px; /* Espacio a la derecha del texto (para el ícono final) */
}
/* Cambiar el color de fondo cuando el checkbox está marcado */
.toggle-checkbox:checked + .toggle-button {
    background-color: #FAFAFA; /* Color más claro cuando está activo */
}
.toggle-button:hover {
    background-color: #FAFAFA; /* Color más claro al pasar el cursor */
}
/* Alinear ícono al principio del texto */
.toggle-button i:first-child {
    margin-right: 12px; /* Espacio entre el ícono y el texto */
    font-size: 16px; /* Tamaño del ícono */
}

/* Alinear ícono al final del texto */
.toggle-button i:last-child {
    position: absolute;
    right: 10px; /* Ajusta el espacio desde el borde derecho del contenedor */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px; /* Tamaño del ícono */
}

/* Mostrar el contenido cuando el checkbox está marcado */
.toggle-checkbox:checked ~ .info-personal {
    display: block;
}

.info-personal {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none; /* Eliminar viñetas */
}

.info-personal li, 
.info-personal a { 
    padding: 10px 16px; /* Espacio alrededor del texto */
    border-bottom: 1px solid #F5F5F5; /* Borde sutil entre elementos */
    color: #000000; /* Texto en negro */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el enlace */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.info-personal a {
    text-decoration: none; /* Sin subrayado en el texto del enlace */
    padding: 0; /* Eliminar padding para los elementos de la lista */

}

.info-personal li:hover {
    background-color: #FAFAFA; /* Color de fondo al pasar el cursor */
}

.info-personal li:last-child {
    border-bottom: none; /* Elimina borde en el último elemento */
}

/* Estilo del botón de cerrar sesión  */
.logout-button {
    background: #FFFFFF;
    color: #000000;
    padding: 12px 16px; /* Espacio alrededor del texto */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    display: flex;
    align-items: center; 
    justify-content: flex-start; /* Alinea el texto a la izquierda */
    position: relative; /* Posiciona el ícono de flecha */
    padding-left: 13px; /* Espacio a la izquierda del texto */
    padding-right: 25px; /* Espacio a la derecha del texto (para el ícono final) */
}


/* Alinear ícono al principio del texto en el botón de cerrar sesión */
.logout-button i {
    margin-right: 12px; /* Espacio entre el ícono y el texto */
    font-size: 16px; /* Tamaño del ícono */
}

.logout-button:hover {
    background-color: #FAFAFA; /* Color más claro al pasar el cursor */
}

.logout-button:focus {
    outline: none; /* Eliminar el contorno cuando el botón está enfocado */
}

/* Estilo para el switch de modo oscuro */
.switch {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    cursor: pointer;
    width: 50px; /* Ajusta el tamaño del slider */
    height: 24px;
    border-radius: 24px; /* Bordes redondeados del slider */
    background-color: #C0C0C0; /* Color de fondo del slider en estado desactivado */
    transition: background-color 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #FFFFFF; /* Fondo del botón del slider */
    transition: transform 0.4s;
    left: 4px;
    top: 4px;
}

input:checked + .slider {
    background-color: #82A1AF; /* Color de fondo cuando está activado */
}

input:checked + .slider:before {
    transform: translateX(26px); /* Mueve el botón del slider */
}

.mode-label {
    margin-left: 2px;
    font-size: 12px;
    color: #000000; /* Texto en negro */
}
