/* Estilos para el contenedor de container-horario-alumno */
.container-horario-alumno {
    margin: 75px auto 0; /* Mantener margen superior */
    padding: 20px; /* Espaciado interno */
    width: calc(100% - 210px); /* Ajustar ancho total menos el ancho de la navbar */
    max-width: 1200px; /* Ancho máximo del contenido */
    box-sizing: border-box; /* Incluye el padding y borde en el cálculo del ancho */

}

/* PANTALLA GRANDE (más de 576px) */
@media (min-width: 576px) {
       .container-horario-alumno {
        left: 210px; /* Alineado al borde derecho de la navbar */
        position: absolute; /* Mantener posición absoluta para evitar superposición */
        width: calc(100% - 210px); /* Ajustar ancho total menos el ancho de la navbar */
    }
}

/* PANTALLA PEQUEÑA (menos de 576px) */
@media (max-width: 576px) {
    .container-horario-alumno {
        width: calc(100% - 0px); /* Ajustar ancho total en pantallas pequeñas */
        padding-left: 80px; /* Ajustar el espaciado para pantallas pequeñas */
                padding-right: 10px; /* Ajustar el espaciado para pantallas pequeñas */
position: absolute; /* Cambiar a relative para evitar superposición */
    }
}

/* palabra-atras */
.palabra-atras {
    display: inline-block;
    margin-bottom: 15px; /* Espacio adicional debajo del botón de retroceso */
    border: 1px solid #f0f2f5;
    border-radius: 4px;
    background-color: #f0f2f5; /* Fondo gris claro al pasar el cursor */
}
.enlace-retroceso {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 450;
    color: #e30613; 
}

.enlace-retroceso:hover {
    background-color: #255B74; /* Fondo gris claro al pasar el cursor */
    border-radius: 4px;
    color: #FFFFFF;
}

.enlace-retroceso i {
    font-size: 16px; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}




/* Estilos para el encabezado */
header {
    text-align: center; /* Centrar el texto del encabezado */
}

header h1 {
    font-size: 24px; /* Tamaño de fuente del encabezado */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}



/* Estilos para la cuadrícula de tarjetas */
.card-grid {
    display: grid;
    gap: 15px; /* Espacio entre las tarjetas */
    grid-template-columns: repeat(1, 1fr); /* 1 tarjeta por fila en pantallas pequeñas */
    justify-content: center; /* Centrar las columnas */
    align-items: flex-start; /* Alineación superior de las tarjetas */

}

.card {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border: 1px solid #ddd;; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar desbordamiento */
    width: 100%; /* Ajustar ancho al contenedor */
    margin: auto; /* Centrar la tarjeta */
    height: 100%; /* Asegurar que todas las tarjetas tengan la misma altura */

}

/* Pantallas grandes (más de 992px) */
@media (min-width: 992px) {
    .card-grid {
                grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila en pantallas grandes */

        justify-content: center; /* Centrar el contenido en pantallas grandes */
    }
}





/* Estilos para el encabezado de la tarjeta */
.card-header {
    padding: 15px; /* Espaciado interno */
    background-color: #f7f7f7; /* Fondo gris claro */
    border-bottom: 1px solid #ddd; /* Borde inferior */
    height: 60px; /* Altura fija */

}

.card-header h2 {
    font-size: 20px; /* Tamaño de fuente del título */
    color: #333; /* Color del texto */
    margin: 0; /* Sin margen */
}

.card-subtitle {
    font-size: 14px; /* Tamaño de fuente del subtítulo */
    color: #888; /* Color gris claro */
}

/* Estilos para el contenido de la tarjeta */
.card-content {
    padding: 10px 15px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo claro */
    border-top: 1px solid #ddd; /* Línea separadora opcional */
    font-size: 13px; /* Tamaño de fuente uniforme */
    color: #666; /* Color más tenue */
    flex-grow: 1; /* Permite que el contenido crezca y ocupe el espacio restante */
}

/* Estilo para cada curso (nombre y hora en la misma línea) */
.course-item {
    display: flex; /* Usar Flexbox para mostrar en una sola línea */
    justify-content: space-between; /* Espacio entre el nombre del curso y la hora */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 4px; /* Separación entre los cursos */
}
.course-item p {
    margin: 0; /* Eliminar márgenes por defecto */
}

/* Nombre del curso */
.course-name {
    margin-right: 10px; /* Separar el nombre de la hora */
    white-space: normal; /* Permitir saltos de línea si el texto es largo */
    word-wrap: break-word; /* Dividir palabras largas si es necesario */
    flex-grow: 1; /* ocupe todo el espacio disponible */
}

/* Hora del curso */
.course-time {
    white-space: nowrap; /* Mantener la hora en una sola línea */
    text-align: right; 
    padding-right: 0px; 

}


/* Estilos para el pie de la tarjeta */
.card-footer { 
    padding: 0 15px; /* Espaciado interno horizontal */
    background-color: #ffffff; /* Fondo blanco */
    border-top: 1px solid #f5f5f5; /* Borde superior */
    height: 48px; /* Altura fija personalizada */
    display: flex; /* Usar Flexbox para la alineación */
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: space-between; /* Distribuir elementos horizontalmente */
    box-sizing: border-box; /* Asegurar que padding no incremente altura */
    overflow: hidden; /* Prevenir desbordamientos */
    position: relative; /* Permitir uso de posicionamiento relativo */
}

.progress-container {
    display: flex; /* Usar Flexbox para organizar los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 10px; /* Espacio entre la barra de progreso y el texto */
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
}

.progress-label {
    font-size: 12px; /* Tamaño de fuente para la etiqueta */
    color: #333; /* Color del texto */
    white-space: nowrap; /* Prevenir salto de línea */
    margin-right: 0px; /* Espaciado con la barra */
    text-align: right; /* Alinear texto a la derecha */
}

.progress-bar {
    flex: 1; /* La barra ocupa el resto del espacio disponible */
    height: 6px; /* Altura de la barra de progreso */
    background-color: #eee; /* Fondo gris claro */
    border-radius: 4px; /* Bordes redondeados */
    position: relative; /* Para posicionar el relleno */
    overflow: hidden; /* Evitar desbordamientos */
}

.relleno-progress-bar {
    height: 100%; /* Altura total del contenedor */
    width: 70%; /* Porcentaje de progreso (ajustable dinámicamente) */
    background-color: #4caf50; /* Color verde */
    border-radius: 4px; /* Bordes redondeados */
}






