/* Estilos para el contenedor de login */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para contenedores de inicio de sesión y registro */
.contenedor-inicio-sesion,
.contenedor-registro,
.contenedor-nuevo-password,
.contenedor-nuevo-registro,
.contenedor-formulario-registrate-nuevo,
.contenedor-formulario-usuario-existente {
    width: 120%;           /* Ocupa el ancho completo del contenedor padre */
    max-width: 350px;      /* Limita el ancho máximo */
    background-color: #fff;
    border: 1px solid #C0D0D7;
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    padding: 10px 40px;    /* 10px arriba y abajo, 40px derecha e izquierda */
    text-align: center;
    border-radius: 0px;    /* Sin bordes redondeados */
}

/* Estilos para la imagen del logo */
.logo img {
    width: 70px;
    margin: 15px 0;
}

/* Estilos para grupos de formularios */
.form-group {
    margin: 3px 0;
}

/* Contenedor para campos de entrada */
.input-container {
    position: relative;
    width: 100%;
}

/* Estilos para campos de entrada */
.formulario-inicio-sesion input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #C0D0D7;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 14px;
    outline: none;
}

/* Estilos para el foco en campos de entrada */
.formulario-inicio-sesion input:focus {
    border-color: #447287;
}

/* Estilos para el ícono de alternar contraseña */
.alternar-contraseña {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #82A1AF;
    font-size: 20px;
    user-select: none;
}

.alternar-contraseña:hover {
    color: #255B74;
}

/* Estilos para la vista ver contraseña */
.icon-vista-contraseña {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: #82A1AF;
    cursor: pointer;
    font-size: 14px;
    margin-right: 2px; /* Espacio entre la imagen y el texto */
}

.icon-vista-contraseña:hover {
    color: #255B74;
}

/* Estilos para botones de formulario */
.formulario-inicio-sesion button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #82A1AF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.formulario-inicio-sesion button:hover {
    background-color: #255B74;
}

/* Estilos para el divisor */
.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    color: #C0D0D7;
    font-weight: bold;
}

.divisor hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: #C0D0D7;
}

.divisor span {
    margin: 0 10px;
}

/* Estilos para el inicio de sesión con Gmail */
.inicio-sesion-gmail {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #255B74;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.icon-gmail {
    font-size: 14px; /* Ajustar el tamaño del ícono */
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.inicio-sesion-gmail:hover {
    text-decoration: underline;
}

/* Estilos para el enlace de olvido de contraseña */
.olvido-contrasena a {
    display: block;
    margin-top: 15px;
    color: #8e8e8e;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 15px; /* Espaciado de margen inferior */

}

.olvido-contrasena a:hover {
    text-decoration: underline;
    color: #255B74;
}

/* Estilos para texto de registro y políticas */
.contenedor-registro p,
.sugerencia-registrate,
.contenedor-formulario-registrate-nuevo p,
.contenedor-formulario-usuario-existente p {
    color: #8e8e8e;
    font-size: 14px;
    margin: 10px;
}

.sugerencia-registrate a,
.contenedor-registro a,
.contenedor-formulario-registrate-nuevo a,
.contenedor-formulario-usuario-existente a {
    color: #255B74;
    text-decoration: none;
    font-weight: bold;
}

.sugerencia-registrate a:hover,
.contenedor-registro a:hover,
.contenedor-formulario-registrate-nuevo a:hover,
.contenedor-formulario-usuario-existente a:hover {
    text-decoration: underline;
}

/* Estilos específicos para la página nuevo_password.php */
.sugerencia-nuevo-password h4 {
    color: #255B74;
    font-size: 16px;
    margin: 10px 0;
}

.sugerencia-nuevo-password p {
    color: #8e8e8e;
    font-size: 14px;
    margin: 10px;
}

.sugerencia-nuevo-password a {
    color: #255B74;
    text-decoration: none;
    font-weight: bold;
}

.sugerencia-nuevo-password a:hover {
    text-decoration: underline;
}

