/* Estilos para el contenedor de container-horario-alumno */
.container-horario-alumno {
    margin: 0;
    padding: 20px;
    width: calc(100% - 210px);
    max-width: 1200px;
    box-sizing: border-box;
    position: relative;
}

/* Pantallas grandes (más de 576px) */
@media (min-width: 576px) {
    .container-horario-alumno {
        left: 210px;
    }
}

/* Pantallas pequeñas (menos de 576px) */
@media (max-width: 576px) {
    .container-horario-alumno {
        width: 100%;
        padding-left: 80px;
        padding-right: 10px;
    }
}

/* palabra-atras */
.palabra-atras {
    display: inline-block;
    margin-bottom: 15px;
    border: 1px solid #f0f2f5;
    border-radius: 4px;
    background-color: #f0f2f5;
}

.enlace-retroceso {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 450;
    color: #e30613;
}

.enlace-retroceso:hover {
    background-color: #255B74;
    border-radius: 4px;
    color: #FFFFFF;
}

.enlace-retroceso i {
    font-size: 16px;
    margin-right: 8px;
}

/* Estilos para el encabezado */
header {
    text-align: center;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la cuadrícula de tarjetas */
.card-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 100%;
}

/* Pantallas grandes (más de 992px) */
@media (min-width: 992px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    height: 60px;
}

.card-header h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.card-subtitle {
    font-size: 14px;
    color: #888;
}

/* Estilos para el contenido de la tarjeta */
.card-content {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    flex-grow: 1;
}

/* Estilo para cada curso (nombre y hora en la misma línea) */
.course-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.course-item p {
    margin: 0;
}

/* Nombre del curso */
.course-name {
    margin-right: 10px;
    white-space: normal;
    word-wrap: break-word;
    flex-grow: 1;
}

/* Hora del curso */
.course-time {
    white-space: nowrap;
    text-align: right;
    padding-right: 0px;
}

/* Estilos para el pie de la tarjeta */
.card-footer {
    padding: 0 15px;
    background-color: #ffffff;
    border-top: 1px solid #f5f5f5;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.progress-label {
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    margin-right: 0px;
    text-align: right;
}

.progress-bar {
    flex: 1;
    height: 6px;
    background-color: #eee;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.relleno-progress-bar {
    height: 100%;
    width: 70%;
    background-color: #4caf50;
    border-radius: 4px;
}






/* Contenedor periodo */
.contenedor-periodos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 5px 5px auto;
    width: calc(100% - 230px);
    max-width: 190;
        border: 1px #e2e8f0;


}


/* Contenedor del select */
.select-wrapper {
    position: relative;
    width: 100%;
}

/* Estilo del select */
#seleccion-periodo {
    width: 100%;
    padding: 12px 24px;

    font-size: 14px;
    border-radius: 8px;
    background-color: #e2e8f0;
    color: #1e293b;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-weight: 500;

}



/* Estilo para las opciones */
#seleccion-periodo option {
    padding: 16px;
    background: #fff;
        font-size: 14px; /* Tamaño de fuente aumentado */

}
