/* General container */
.container-notas {
    margin-left: auto; /* Para centrar el contenido */
    margin-right: auto; /* Centrado horizontalmente */
    padding: 20px;
    height: calc(100vh - 80px); /* Altura total menos la altura del header (80px) */
    width: 100%; /* Ocupa el 90% del ancho de la pantalla */
    margin-top: 0; /* Sin márgenes superiores */
    max-width: 1200px; /* Máximo ancho para el contenido */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 576px) {
    .container-notas {
        margin-left: 0px; /* Sin margen a la izquierda */
        margin-right: 0px; /* Sin margen a la derecha */
        width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    }
}



/* palabra-atras */
.palabra-atras {
    display: inline-block;
        margin-bottom: 15px; /* Espacio adicional debajo del botón de retroceso */

}

.enlace-retroceso {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 450;
    color: #e30613; 
}

.enlace-retroceso:hover {
    background-color: #255B74; /* Fondo gris claro al pasar el cursor */
    border-radius: 4px;
    color: #FFFFFF; /* Color rojo similar al de UTP */

}

.enlace-retroceso i {
    font-size: 16px; /* Tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
}



/* desde aca comienza para el select */
.mis-cursos {
    margin-bottom: 10px; /* Espacio debajo del contenedor */
}
.mis-cursos h5 {
    margin-bottom: 10px; /* Espacio debajo del título */
}
.mis-cursos p {
    margin-bottom: 10px; /* Espacio debajo del párrafo */
}
.contenedor-seleccion {
    position: relative;
    display: inline-block;
    width: 100%; /* Ajusta el ancho según el diseño */
}

#seleccion-curso {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    background-color: #FFFFFF;
    border: 1px solid #C0D0D7;
    border-radius: 4px;
    padding: 10px 40px 10px 15px; /* Ajusta el padding para el espacio del ícono */
    font-size: 14px;
    font-weight: 400;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none; /* Elimina el borde azul predeterminado al hacer clic */


}

#seleccion-curso:focus {
    border-color: #63899B; /* Cambia el color del borde cuando el select está enfocado */
}

.icono-seleccion {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Permite que los clics pasen al select debajo */
}

.icono-seleccion i {
    font-size: 16px; /* Tamaño del ícono */
    color: #050C10; /* Color del ícono */
}






/* desde aca comienza para el resumen general */
.resumen-general {
    margin-top: 15px; /* Espacio encima del contenedor */
    margin-bottom: 20px; /* Espacio debajo del contenedor */
    padding: 20px; /* Igual que .container-notas */
    width: 100%; /* Ocupar todo el ancho del contenedor */
    max-width: 1200px; /* Igual que otros elementos */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
    border: 1px solid #C0D0D7;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.resumen-header {
    padding: 10px;
    border-bottom: 1px solid #DFE7EB;
    font-size: 16px;
    font-weight: 600;
    color: #050C10;
}

.resumen-contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 0px; /* Espacio entre los ítems */
    padding: 10px 0;
}

.resumen-indicador {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre la etiqueta y el dato */
}
.resumen-etiqueta {
    font-weight: 450;
    color: #050C10;
}

.resumen-dato {
    color: #555;
}

/* Contenedor principal */
.curso-detalle {
    border: 1px solid #C0D0D7;
    border-radius: 8px; /* Bordes más redondeados */
    margin-bottom: 20px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

/* Encabezado del curso */
.curso-header {
    background-color: #447287; /* Color de fondo más oscuro para mayor contraste */
    color: #ffffff; /* Texto en blanco para contraste */
    padding: 15px 20px; /* Más espacio para una mejor apariencia */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.curso-header:hover {
    background-color: #63899B; /* Color más oscuro al pasar el cursor */
}

/* Estilo del título y estado del curso */
.curso-header h3 {
    margin: 0;
    font-size: 1.25em; /* Tamaño de fuente más grande para el título */
}

.curso-header p.estado-curso {
    margin: 0;
    font-size: 0.9em; /* Tamaño de fuente más pequeño para el estado */
}

/* Botón de alternar */
.toggle-button {
    background: none;
    border: none;
    color: #FFFFFF; /* Color del ícono en blanco para contraste */
    font-size: 20px; /* Tamaño del ícono más grande */
}

.curso-header.open .toggle-button i {
    transform: rotate(180deg); /* Rotación suave del ícono */
}

/* Contenido del curso */
.curso-content {
    display: none;
    padding: 20px; /* Más espacio para el contenido */
    background-color: #f0f0f0; /* Color de fondo más claro */
}

/* Contenedor de la información del docente */
.docente-info {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
}

/* Título de la sección */
.docente-info h4 {
    margin: 0; /* Eliminar márgenes */
    font-size: 1.2em; /* Tamaño de fuente del título */
    color: #050C10; /* Color del texto */
    font-weight: bold; /* Negrita para el título */
    margin-right: 10px; /* Reducir espacio entre el título y los nombres */
}

/* Contenedor de nombres de los docentes */
.docente-nombres {
    display: flex; /* Usar flexbox para alinear nombres en línea */
    flex-direction: column; /* Colocar los nombres en columna */
    gap: 5px; /* Espacio entre los nombres */
}

/* Nombres de los docentes */
.docente-nombres p {
    margin: 0; /* Eliminar márgenes */
    font-size: 1em; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

/* Contenedor de la modalidad del curso */
.modalidad-curso {
   display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
}

/* Título de la sección */
.modalidad-curso h4 {
    margin: 0; /* Eliminar márgenes */
    font-size: 1.2em; /* Tamaño de fuente del título */
    color: #050C10; /* Color del texto */
    font-weight: bold; /* Negrita para el título */
    margin-right: 10px; /* Reducir espacio entre el título y el contenido */
}

/* Contenido de la modalidad del curso */
.modalidad-curso p {
    margin: 0; /* Eliminar márgenes */
    font-size: 1em; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

/* Contenedor del horario */
.horario {
     display: flex; /* Usar flexbox para alinear elementos */
    flex-direction: column; /* Alinear elementos verticalmente */
}

/* Título de la sección */
.horario h4 {
    margin: 0; /* Eliminar márgenes */
    font-size: 1.2em; /* Tamaño de fuente del título */
    color: #050C10; /* Color del texto */
    font-weight: bold; /* Negrita para el título */
    margin-bottom: 5px; /* Reducir espacio debajo del título */
}

/* Contenido del horario con viñetas */
.horario p {
    margin: 0; /* Eliminar márgenes */
    font-size: 1em; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    list-style-type: disc; /* Tipo de viñeta */
    margin-left: 20px; /* Espacio a la izquierda para la viñeta */
}





/* Contenedor de créditos */
.creditos {
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en múltiples líneas si es necesario */
    border-top: 2px solid #C0D0D7; /* Línea de separación superior */
    border-bottom: 2px solid #C0D0D7; /* Línea de separación inferior */
    padding: 10px 0; /* Espaciado superior e inferior para separar el contenido de las líneas */
    margin: 10px 0; /* Espaciado superior e inferior para separar del contenido anterior y siguiente */
    align-items: center; /* Centra verticalmente el contenido */
    gap: 20px; /* Espaciado entre los elementos */
}

/* Estilo de cada párrafo dentro del contenedor de créditos */
.creditos p {
    margin: 0;
    font-size: 0.9em; /* Tamaño de fuente ajustado */
    color: #333; /* Color del texto */
}

/* Alineación específica si se necesita ajustar la posición de los párrafos */
.creditos p + p {
    margin-left: 20px; /* Espaciado entre párrafos para separación visual */
}





/* Contenedor de evaluaciones */
.evaluaciones {
    background-color: #F9F9F9; /* Fondo claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 15px 0; /* Espaciado externo */
}

/* Título de la sección */
.evaluaciones h4 {
    margin: 5px; /* Margen alrededor del título */
    font-size: 1.2em; /* Tamaño de fuente del título */
    color: #050C10; /* Color del texto */
}

/* Contenedor de cada evaluación */
.evaluacion {
    display: flex; /* Flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre texto y valor */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 0; /* Eliminar espaciado entre filas */
    padding: 5px 0; /* Espaciado interno vertical */
    border-top: 1px solid #E0E0E0; /* Línea superior */
}

/* Eliminar la línea inferior en la última evaluación */
.evaluaciones .evaluacion:last-child {
    border-bottom: none; /* Sin línea inferior */
}

/* Valor numérico */
.valor-notas {
    font-weight: bold; /* Negrita para el valor */
    color: #050C10; /* Color del texto */
}




/* Contenedor de la fórmula */
.formula {
    background-color: #F9F9F9; /* Fondo claro para resaltar la fórmula */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 15px 0; /* Espaciado externo */
    display: flex;
    flex-direction: column; /* Columna para el título y el contenido */
    gap: 10px; /* Espaciado entre el título y el contenido */
}

/* Estilo del título de la fórmula */
.formula h4 {
    margin: 0; /* Eliminar márgenes */
    color: #050C10; /* Color del texto del título */
    font-size: 1.2em; /* Tamaño de fuente ajustado */
    font-weight: bold; /* Negrita para el título */
    border-bottom: 2px solid #e0e0e0; /* Línea debajo del título */
    padding-bottom: 5px; /* Espaciado debajo del título */
}

/* Estilo del contenido de la fórmula */
.formula p {
    margin: 0; /* Eliminar márgenes */
    font-size: 1em; /* Tamaño de fuente ajustado */
    color: #333; /* Color del texto */
    white-space: pre-wrap; /* Mantener espacios en blanco y saltos de línea */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
}

/* Contenedor del promedio */
.calificaion-final {
    background-color: #DFE7EB; /* Fondo claro y atractivo */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 15px 0; /* Espaciado externo */
    display: flex; /* Flexbox para alinear elementos en línea */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Alinear elementos a los extremos */
    gap: 10px; /* Espaciado entre elementos */
}

/* Contenido del promedio */
.calificaion-final p {
    margin: 0; /* Eliminar márgenes */
    font-size: 1em; /* Tamaño de fuente ajustado */
    color: #050C10; /* Color del texto */
}

/* Estado final */
.estado-final {
    font-weight: bold; /* Negrita para destacar el estado final */
}
