/* Estilos para el footer */
.footer {
    background-color: #F0F0F0; /* Color de fondo del footer */
    height: 50px; /* Altura del footer */
    width: calc(100% - 250px); /* Ancho total menos el espacio del navbar */
    margin: 0; /* Sin márgenes */
    padding: 0 20px; /* Espaciado interno ajustado a 20px (izquierda y derecha) */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    position: fixed; /* Fijar el footer en la parte inferior */
    bottom: 0; /* Alineado al fondo de la ventana */
    left: 250px; /* Alineado justo al lado derecho del navbar */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    overflow: hidden; /* Oculta el contenido que sobresale */
    opacity: 0; /* Ocultar inicialmente */
    visibility: hidden; /* Ocultar visualmente */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición suave */
}

/* PANTALLA GRANDE (más de 576px) */
@media (min-width: 576px) {
    .footer {
        left: 210px; /* Alineado al lado derecho del navbar */
        width: calc(100% - 210px); /* Ancho total menos el ancho del navbar en pantallas grandes */
    }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .footer {
        display: none; /* Oculta el footer en pantallas pequeñas */
    }
}

/* Mostrar el footer cuando se haga scroll */
.footer.visible {
    opacity: 1; /* Mostrar footer */
    visibility: visible; /* Hacer visible el footer */
}
